.station-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: 400px;
    max-width: 100%;
}

.station-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.station-list .station-list__item {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-gray);
}